form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.close {
    float: right;
}
ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li:hover {
    background: #ddd;
}


tr td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
tr td .grow{
    flex-grow: 2;
}
tr td form input[text] {
    width: 200px;
}

