{% extends 'base.html.twig' %}
{% block title %}Todo List!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
{% endblock %}
{% block content %}


    <div class="form-group">
        <h1>To-Do <small>List</small></h1>
        <form method="POST" action="{{ path('create_task') }}" role="form">
            <input type="text" class="form-control" placeholder="Your Task" name="title">
            <button type="submit" class="btn btn btn-primary">Add</button>
        </form>
    </div>



    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tasks</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for task in tasks %}

        <tr>
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.title }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
{% endblock %}